body {
    color:$color-grey;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    padding:3.5rem;
} 

.heading-primary {
    text-transform:uppercase;
    margin-bottom: 6rem;
    &--main {@include heading-text(6rem,400,3.5rem);animation: moveInRight 1s ease-out ;}
    &--sub {@include heading-text(2rem,700,1.74rem);animation: moveInLeft 1s ease-out  ;}
}
